.user {
	display: flex;
	align-items: center;
	color: #162d4d75;
	cursor: pointer;
}

.user:hover > div > p {
	text-decoration: underline;
}

@media only screen and (max-width: 768px) {
	.headerContainer {
		flex-direction: column;
	}
}
