/*
 * SPDX-FileCopyrightText: 2025 Istituto Nazionale di Fisica Nucleare
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

@import "tailwindcss";

@theme {
  --color-infn: #002a44;
  --color-infn-hover: #1e374f;
  --color-primary: var(--color-neutral-950);
  --color-light: var(--color-slate-600);
  --color-extralight: var(--color-gray-500);
  --color-primary-hover: #183e56;
  --color-secondary: var(--color-gray-100);
  --color-dark: var(--color-gray-800);
  --color-extradark: var(--color-gray-900);
  --color-gray: var(--color-neutral-500);
  --color-light-gray: var(--color-gray-300);
  --color-success: var(--color-green-700);
  --color-warning: var(--color-yellow-400);
  --color-danger: var(--color-red-700);
  --color-danger-light: var(--color-red-500);
  --color-danger-hover: var(--color-red-800);
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 140rem;
  --breakpoint-5xl: 160rem;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply border-gray-300 text-3xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }
}

@layer utilities {
  .btn-bold {
    @apply btn border-3 font-bold uppercase;
  }

  .box {
    @apply mt-6 rounded-3xl bg-white p-8 shadow-[-3px_3px_8px_rgba(0,0,0,0.1)];
  }

  .box-sm {
    @apply mt-3 rounded-3xl bg-white p-6 shadow-[-3px_3px_6px_rgba(0,0,0,0.1)];
  }

  .clickable {
    @apply pointer-events-auto transform cursor-pointer transition-transform duration-200 hover:scale-105;
  }
}

@utility btn {
  @apply flex min-w-fit cursor-pointer gap-2 rounded-4xl p-1 px-5 text-base font-medium text-nowrap transition ease-out disabled:cursor-not-allowed dark:font-normal;
}

@utility btn-primary {
  @apply btn text-secondary disabled:border-infn/50 disabled:bg-infn/50 dark:border-secondary/30 dark:text-secondary bg-infn hover:bg-infn-hover border-infn active:bg-infn/85 border focus:outline-1 dark:border-none dark:bg-sky-600 dark:hover:bg-sky-700 dark:disabled:bg-sky-600/30 dark:disabled:text-white/40;
}

@utility btn-secondary {
  @apply btn border-infn text-infn hover:bg-infn/5 active:bg-infn/10 disabled:border-infn/50 disabled:bg-secondary/50 disabled:text-infn/50 dark:border-secondary/20 dark:text-secondary/90 dark:disabled:bg-light-gray/30 dark:disabled:text-secondary/50 border-2 focus:outline-1 dark:bg-slate-700 dark:hover:bg-slate-600 dark:active:bg-slate-500;
}

@utility btn-tertiary {
  @apply btn disabled:text-infn/50 hover:underline disabled:hover:no-underline;
}

@utility btn-danger {
  @apply btn bg-danger border-danger text-secondary disabled:bg-danger/50 hover:bg-danger/85 active:bg-danger/75 border-none;
}

@utility btn-danger-secondary {
  @apply btn border-danger text-danger hover:bg-danger hover:text-secondary disabled:border-danger/50 disabled:hover:bg-danger/50 dark:bg-primary border;
}

@utility btn-danger-tertiary {
  @apply btn hover:text-danger hover:underline active:font-bold active:tracking-tight;
}

@utility iam-input {
  @apply placeholder:text-infn/30 dark:bg-dark focus:outline-infn w-full rounded-2xl border border-gray-300 bg-white px-4 py-1 disabled:bg-transparent disabled:text-gray-400 placeholder:disabled:text-gray-400 data-[invalid=true]:outline dark:border-white/30;
}

@utility iam-list-item {
  @apply dark:border-light flex flex-row border-b border-gray-200 p-2 py-4 transition duration-400 ease-out last:border-transparent hover:rounded-md hover:border-transparent hover:bg-neutral-200 has-[+:hover]:border-transparent dark:hover:bg-neutral-200/10;
}

@utility panel {
  @apply dark:bg-dark border-light-gray rounded-lg bg-gray-50 p-4 shadow-md sm:p-8 dark:border dark:border-slate-600;
}

html {
  color: var(--color-infn);
}
