.cardContainer {
	border-radius: 25px;
	box-shadow: -3px 3px 8px -3px #00000020;
}

.textEllipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
	.logoImg {
		width: 200px;
		height: auto;
		margin-top: 3em;
	}

	.homeText {
		width: 100%;
	}

	.cardContainer {
		margin-top: 3em;
	}
}
