.navbarLogoImg {
    image-rendering: smooth;
    cursor: pointer;
}

.navbarLogoText {
    cursor: pointer;
    color: white;
    text-transform: none;
}

.navbarNotification {
    width: 100%;
    max-width: 360px;
    text-wrap: 'wrap';
}